EXPO_PUBLIC_ENERGYFI_RPC_URL=
EXPO_PUBLIC_WEB_RPC_PROXY_PATH=/rpc
EXPO_PUBLIC_ENERGYFI_CHAIN_ID=
EXPO_PUBLIC_CHARGE_TRANSACTION_ADDRESS=
EXPO_PUBLIC_REVENUE_TRACKER_ADDRESS=
EXPO_PUBLIC_CHARGE_ROUTER_ADDRESS=
EXPO_PUBLIC_STATION_REGISTRY_ADDRESS=
EXPO_PUBLIC_DEVICE_REGISTRY_ADDRESS=
EXPO_PUBLIC_REPUTATION_REGISTRY_ADDRESS=
EXPO_PUBLIC_DEMO_OPERATOR_ADDRESS=0xBdDFc6fdF2F28cBb67eadeCdB0165a15741387aD
EXPO_PUBLIC_REGION_STO_FACTORY_ADDRESS=
EXPO_PUBLIC_DEMO_INVESTOR_ADDRESS=
